.content-area > ul,
.content-area > ol,
.wp-block-column > ul,
.wp-block-column > ol,
.image-and-text__content > ul,
.image-and-text__content > ol {
    padding-left: var(--wp--custom--spacing--3);

    @include media-min(medium) {
        padding-left: var(--wp--custom--spacing--4);
    }

    > li {
        margin-top: var(--wp--custom--spacing--1);
    }

    > li:first-child {
        margin-top: 0;
    }
}
