html {
    // To make sure user browser setting for font size is respected.
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    overflow-y: scroll;
}

body,
button,
input,
select,
textarea {
    @include text-style(body);
    font-family: var(--wp--custom--font--sans-serif);
    color: var(--wp--custom--color--grey--800);
}

body {
    background-color: var(--wp--custom--color--grey--100);
}

a,
a:visited {
    color: var(--wp--custom--color--grey--1000);
    text-underline-position: under;
    transition: all var(--wp--custom--transition--3);

    &:hover,
    &:active,
    &:focus {
        color: var(--wp--custom--color--primary--700);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--wp--custom--color--grey--1000);
    margin: var(--wp--custom--spacing--4) 0 0 0;

    &:first-child {
        margin-top: 0;
    }

    a {
        text-decoration: none;
    }
}

// Note that classes .h#{$i} and .has-h-#{$i}-font-size can be found in 07-utilities/_font-sizes.scss file.
// This is because order and hierarchy of CSS rules.
// We want to make sure utility classes overwrite font-size even if something have been changed for example in modules.
h1 {
    @include text-style(h1);
}

h2 {
    @include text-style(h2);
}

h3 {
    @include text-style(h3);
}

h4 {
    @include text-style(h4);
}

h5 {
    @include text-style(h5);
}

h6 {
    @include text-style(h6);
}
