.grid {
    display: grid;
    grid-gap: $gutter;
    grid-template-columns: repeat(1, 1fr);

    @include media-min(medium) {
        &.has-2-columns,
        &.has-4-columns {
            grid-template-columns: repeat(2, 1fr);
        }

        &.has-3-columns {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @include media-min(medium-large) {
        &.has-3-columns {
            grid-template-columns: repeat(3, 1fr);
        }

        &.has-4-columns {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

.has-no-gap {
    grid-gap: 0;
}
