.contact {
    background-color: var(--wp--custom--color--grey--200);
    padding-bottom: var(--space-2xl-3xl);
    padding-top: var(--space-2xl-3xl);
}

.contact__container {
    max-width: var(--wp--custom--width--container-medium);
}
