.pagination {
    text-align: center;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    gap: var(--wp--custom--spacing--1);
    justify-content: center;
}

.page-numbers {
    display: block;
    padding: 1rem 1.25rem;
    line-height: 1;
    text-align: center;

    &.prev,
    &.next {
        width: auto;
    }

    &.prev svg {
        transform: rotate(180deg);
    }

    &.current {
        background-color: var(--wp--custom--color--theme--beige);
        color: var(--wp--custom--color--grey--500);
    }
}
