.site-footer {
    background-color: var(--wp--custom--color--blue);
    color: var(--wp--custom--color--neutral--white);
    padding-bottom: var(--space-2xl-3xl);
    padding-top: var(--space-2xl-3xl);
}

.site-footer__text {
    font-size: var(--wp--custom--text--step-m-1);
}

.site-footer__text h2,
.site-footer__text a {
    color: var(--wp--custom--color--neutral--white);
}

.site-footer__text h2 {
    font-size: var(--wp--custom--text--step-0);
}

.site-footer__text ul {
    @include reset-list();
}

.site-footer__text ul a {
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}

.site-footer__wave {
    position: relative;
    top: 1rem;
}
