.site-header {
    background-color: var(--wp--custom--color--blue);
    padding-bottom: var(--space-xs-s);
    padding-top: var(--space-xs-s);
}

.site-header__title {
    font-weight: 700;
    margin: 0;
    position: relative;
    z-index: 110;

    svg {
        max-width: 7rem;

        @include media-min(navigation) {
            max-width: 11rem;
        }
    }
}

.site-header__title a {
    color: var(--wp--custom--color--neutral--lime);
    display: inline-flex;
    text-decoration: none;

    &:focus {
        outline-color: var(--wp--custom--color--neutral--lime);
    }
}

.site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media(navigation) {
        flex-wrap: wrap;
    }
}

.site-header__logo {
    max-width: 10rem;

    @include media-min(navigation) {
        max-width: 13rem;
    }
}
